@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.plan-details {
    @include flex-centering;
    justify-content: space-between;
    width: calc(100% - 3rem);
    background-color: $neutral-pale-blue;
    margin: 1.5rem 0;
    padding: 1rem .5rem 1rem 1rem;
    height: 5.0625rem;
    border-radius: 0.5875rem;

    @include tablet {
        margin: 1rem 0;
        width: calc(100% - 6rem);
    }

    &__plan-name {
        font-size: 1rem;
        margin: 0;
        color: $neutral-dark-blue;
        font-size: 0.875rem;
        
        @include tablet {
            font-size: 1rem;
        }
    }

    &__plan-price {
        margin: .25rem 0 0;
        color: $neutral-desaturated-blue;
        font-size: 0.875rem;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__change-plan {
        @include button-reset;
        color: $primary-bright-blue;
        text-decoration: underline;
        font-weight: 700;
        font-size: 0.8125rem;
        margin-left: 1.5rem;

        &:hover {
            color: #766CF1;
            text-decoration: none;
        }

        @include tablet {
            margin-left: 4.5rem;
            font-size: 0.875rem;
        }
    }
}