@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.order-summary {
    background-color: #ffffff;
    border-radius: 1.25rem;
    width: 87.2%;
    max-width: 28.125rem;
    @include flex-column;
    align-items: center;

    &__hero {
        border-radius: 1.25rem 1.25rem 0 0;
        width: 100%;
    }

    &__title {
        text-align: center;
        font-size: 1.375rem;
        font-weight: 900;
        color: $neutral-dark-blue;
        margin: 2rem 0 1rem;
        padding: 0;
        
        @include tablet {
            font-size: 1.75rem;
            margin: 2.8125rem 0 1rem;
        }
    }

    &__description {
        color: $neutral-desaturated-blue;
        text-align: center;
        line-height: 1.5625rem;
        width: 27ch;

        @include tablet {
            width: 28ch;
        }
    }
}