// Media query breakpoint definitions
$desktop-breakpoint: 1440px;
$tablet-breakpoint:  768px;
$max-content-width:  67.5rem;

// Margin amounts
// $mobile-margin:  1rem;
// $tablet-margin:  1.5rem;
// $desktop-margin: 11.25rem;

// Site font

// === Site colours ===
// Primary
$primary-pale-blue: hsl(225, 100%, 94%);
$primary-bright-blue: hsl(245, 75%, 52%);
// Secondary
$neutral-pale-blue: hsl(225, 100%, 98%);
$neutral-desaturated-blue: hsl(224, 23%, 55%);
$neutral-dark-blue: hsl(223, 47%, 23%);
