@use './partials/typography' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: sans-serif;
  font-family: 'Red Hat Display';
  background-color: $primary-pale-blue;
}

main {
  @include flex-centering;
  height: 100vh;
}

.background-decoration {
  position: absolute;
  height: 12.125rem;
  width: 100%;
  top: 0;
  z-index: -1;
  background-image: url('./assets/images/pattern-background-mobile.svg');
  
  @include tablet {
    background-image: url('./assets/images/pattern-background-desktop.svg');
  }
}